:root {
    --lavenderMist: #D7B5D6; 
    --barbie: #EE7DDB;
    --softMint: #A7D4B1;      
    --powderBlue: #A8C7E6;     
    --butterflyMainBackground: #2C2730;
    --butterflyMainText: #F4EAF4;
    --rotation: 15deg;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(rgba(44,39,48,0.7), rgba(44,39,48,0.7)), url("assets/Backgrounds/artnuveau.jpg");
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--barbie);
    font-family: "georgia", serif;
    font-size: large;
    line-height: 1.6;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    padding-top: 50px;    
}

.container-main {
    text-align: center;
    padding: 20px;
    background-color: var(--butterflyMainBackground);
    color: var(--butterflyMainText);
    margin: 20px 0;
    max-width: 900px;
    width: 90%;
    border-style: ridge;
    border-radius: 5px;
    border-color: var(--barbie);
    position: relative;
    
}

p a {
  color: var(--powderBlue);
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  transition: all 0.2s ease;
  border: 2px solid transparent;
}

p a:hover {
  color: var(--butterflyMainBackground);
  background-color: var(--barbie);
  text-decoration: none;
  border: 2px inset var(--barbie);
  border-radius: 4px;
  padding: 5px;
}

p a:visited {
  color: var(--softMint);
  padding: 5px;

}

p a:hover, p a:visited:hover {
    color: var(--butterflyMainBackground);
    padding: 5px;
}

.wrapper {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 30px;              
    margin-bottom: 20px;
}

.wrapper-text{
    flex: 2; 
}

.wrapper-image{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; 
    max-width: 300px; 
}

.wrapper-image img {
    width: 100%; 
    height: auto;
    border-radius: 5px; 
    border: 3px ridge var(--barbie);
}

.hover-img-container {
  position: relative;
  max-width: 300px;

  perspective: 1000px;
  transition: transform .2s;
}

.hover-img-container:hover img {
  box-shadow: 0 30px 60px rgba(238,125,219,0.35);
  transform: scale(1.02);
  transition: 0.5s ease;
}

.hover-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
  border: 3px ridge var(--barbie);
  box-shadow: 0 15px 35px rgba(0,0,0,0.5);
  transition: transform .7s cubic-bezier(0,0,0,1);
}

.hover-img-container div {
  position: absolute;
  width: 50%;
  height: 50%;
  z-index: 2;
}

.hover-img-container .top-left {
  top: 0;
  left: 0;
}

.hover-img-container .top-left:hover ~ img {
  transform: rotate3d(-1, 1, 0, 15deg);
}

.hover-img-container .top-right {
  top: 0;
  right: 0;
}

.hover-img-container .top-right:hover ~ img {
  transform: rotate3d(-1, -1, 0, 15deg);
}

.hover-img-container .bottom-left {
  bottom: 0;
  left: 0;
}

.hover-img-container .bottom-left:hover ~ img {
  transform: rotate3d(1, 1, 0, 15deg);
}

.hover-img-container .bottom-right {
  bottom: 0;
  right: 0;
}

.hover-img-container .bottom-right:hover ~ img {
  transform: rotate3d(1, -1, 0, 15deg);
}

.return-button {
  display: flex;           
  justify-content: center; 
  align-items: center;     
  width: 35px;
  height: 25px;
  text-decoration: none;
  border-radius: 15px;
  background-color: var(--butterflyMainBackground);
  border: 2px inset var(--softMint);
  color: var(--softMint);
  font-size: 24px;
  transition: all 0.2s ease;
  padding: 5px;
  font-weight: bold;
}

.return-button:hover {
  color: var(--butterflyMainBackground);
  background-color: var(--barbie);
  border: 2px inset var(--barbie);
  border-radius: 4px;
  padding: 5px;
}

footer {
    text-align: center;
    padding: 20px 0;
}

/* stacks on mobile */
@media (max-width: 600px) {
    .wrapper{
        flex-direction: column;
    }
}

/* Highlight text color change */
::selection {
    background-color: var(--softMint);
    color: var(--butterflyMainBackground);
}

::-moz-selection {
    background-color: var(--softMint);
    color: var(--butterflyMainBackground);
}

::-webkit-selection {
    background-color: var(--softMint);
    color: var(--butterflyMainBackground);
}
